// Imagenes del carrusel - Services
.carousel-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

// Estilos basicos

html, body, #root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

// Footer

.footer-icon {
  font-size: 1.5rem; 
  vertical-align: middle; 
}

.footer-sticky {
  position: relative;
  bottom: 0;
  width: 100%;
}

// Boton "Regresar" - Error404

.custom-btn {
  margin-bottom: 9rem;
  padding: 0.5rem 1.5rem;
  background-color: lightgray;
  border: none;
  transition: background-color 0.3s;
}

.custom-btn:hover {
  background-color: rgb(14, 14, 70);
  color: white;
}

// Efecto Hover sobre elementos del Header

.navbar.bg-secondary .dropdown-menu .dropdown-item:hover {
  color: #66a1e0; 
  background-color: transparent;
  box-shadow: none; 
  outline: none; 
}

.navbar.bg-secondary .nav-link.dropdown-toggle:hover {
  color: #007bff; 
  text-decoration: none; 
}

.navbar .nav-link.dropdown-toggle::after {
  display: none;
}

// Espacios de los elementos del header
.navbar .nav-link.dropdown-toggle {
  margin-left: 1rem;  
  margin-right: 1rem; 
  padding-top: 0.75rem;  
  padding-bottom: 0.75rem;
}





